In [3]:
from importlib import reload
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

from binance.client import Client
from binance import enums

In [4]:
# Your API key and secret
API_KEY = ""
API_SECRET = ""

In [5]:
client = Client(API_KEY, API_SECRET)

In [6]:
interval = enums.KLINE_INTERVAL_1HOUR

In [7]:
import importlib
import cryptoz.binance
importlib.reload(cryptoz.binance)

from cryptoz.binance import BinanceHelper

/Users/olegpolakow/miniconda3/lib/python3.7/site-packages/tqdm/autonotebook/__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [8]:
binance = BinanceHelper(client)

## Symbols and pairs

In [10]:
binance.symbol_into_pair("BTCUSDT")

('BTC', 'USDT')

In [11]:
binance.pair_into_symbol(("BTC", "USDT"))

'BTCUSDT'

In [12]:
received_pairs = binance.get_pairs()

print(received_pairs[:5])
print(len(received_pairs))

[('VEN', 'ETH'), ('WAVES', 'BTC'), ('AMB', 'BNB'), ('IOTA', 'USDT'), ('PIVX', 'BNB')]
491

## Ticker

In [11]:
received_ticker = binance.get_ticker()

print(list(received_ticker.items())[:5])
print(len(received_ticker))

[(('ETH', 'BTC'), 0.018313), (('LTC', 'BTC'), 0.007228), (('BNB', 'BTC'), 0.0026625), (('NEO', 'BTC'), 0.000933), (('QTUM', 'ETH'), 0.013403)]
491

In [118]:
binance.calculate_pair_price(('NEO', 'BTC'), received_ticker)

0.000933

In [124]:
binance.calculate_pair_price(('GAS', 'USDT'), received_ticker)

GAS/USDT = (GAS/BTC) * (BTC/USDT)

1.5846920599999998

In [125]:
binance.calculate_pair_price(('GAS', 'LSK'), received_ticker)

GAS/LSK = (GAS/BTC) / (LSK/BTC)

1.3271344040574808

In [126]:
binance.calculate_pair_price(('USDT', 'BTC'), received_ticker)

USDT/BTC = 1 / (BTC/USDT)

9.907287602614731e-05

## Balances

In [11]:
#binance.get_active_balances()

In [12]:
#binance.get_active_balances_in('USDT')

## OHLCV

In [238]:
binance.get_pair_ohlcv(('BTC', 'USDT'), interval).head()

,O,H,L,C,V,M
date,,,,,,
2019-08-01 18:00:00,10085.44,10192.63,10073.53,10170.36,2.482955e+07,10145.506667
2019-08-01 19:00:00,10170.36,10341.78,10168.55,10283.73,4.047226e+07,10264.686667
2019-08-01 20:00:00,10283.71,10467.86,10270.30,10387.00,5.350883e+07,10375.053333
2019-08-01 21:00:00,10387.01,10424.58,10338.00,10406.98,1.796263e+07,10389.853333
2019-08-01 22:00:00,10406.48,10430.82,10345.12,10374.88,1.526019e+07,10383.606667

In [245]:
binance.get_pair_ohlcv(('USDT', 'BTC'), interval).head()

USDT/BTC = 1 / (BTC/USDT)

,O,H,L,C,V,M
date,,,,,,
2019-08-01 18:00:00,0.000099,0.000099,0.000098,0.000098,2447.344225,0.000099
2019-08-01 19:00:00,0.000098,0.000098,0.000097,0.000097,3942.863940,0.000097
2019-08-01 20:00:00,0.000097,0.000097,0.000096,0.000096,5157.451435,0.000096
2019-08-01 21:00:00,0.000096,0.000097,0.000096,0.000096,1728.862482,0.000096
2019-08-01 22:00:00,0.000096,0.000097,0.000096,0.000096,1469.642075,0.000096

In [252]:
# Truth
binance.get_pair_ohlcv(('NEO', 'USDT'), interval).head()

                          O       H       L       C              V          M
date
2019-08-01 18:00:00  11.579  11.665  11.560  11.560  143109.497712  11.595000
2019-08-01 19:00:00  11.560  11.658  11.515  11.532  197546.461612  11.568333
2019-08-01 20:00:00  11.531  11.718  11.531  11.624  213590.746774  11.624333
2019-08-01 21:00:00  11.625  11.718  11.552  11.704  106282.616489  11.658000
2019-08-01 22:00:00  11.714  11.784  11.701  11.750   87879.620811  11.745000

In [255]:
# Converted via BTC (changed code)
binance.get_pair_ohlcv(('NEO', 'USDT'), interval).head()
# Pretty accurate, huh?

NEO/USDT = (NEO/BTC) * (BTC/USDT)

,O,H,L,C,V,M
date,,,,,,
2019-08-01 18:00:00,11.588171,11.667333,11.515150,11.543359,103177.114038,11.565878
2019-08-01 19:00:00,11.543359,11.670949,11.516978,11.538345,256445.376973,11.568302
2019-08-01 20:00:00,11.538323,11.723810,11.557809,11.633440,208569.570066,11.633893
2019-08-01 21:00:00,11.623064,11.719755,11.595076,11.707852,102965.004804,11.667805
2019-08-01 22:00:00,11.707290,11.806161,11.671174,11.754739,71663.551896,11.747320

In [251]:
binance.get_pair_ohlcv(('GAS', 'LSK'), interval).head()

GAS/LSK = (GAS/BTC) / (LSK/BTC)

,O,H,L,C,V,M
date,,,,,,
2019-08-01 18:00:00,1.540146,1.564122,1.549296,1.563201,1402.255300,1.554238
2019-08-01 19:00:00,1.563201,1.571823,1.511657,1.534392,19668.908348,1.536726
2019-08-01 20:00:00,1.534392,1.556351,1.502683,1.530139,17704.522694,1.525684
2019-08-01 21:00:00,1.530139,1.595997,1.564393,1.580620,4402.305794,1.577561
2019-08-01 22:00:00,1.588562,1.601057,1.585205,1.598101,1218.006896,1.595773

In [9]:
ohlcvs = binance.get_multiple_pair_ohlcv([('BTC', 'USDT'), ('ETH', 'USDT'), ('XRP', 'USDT')], interval)

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

## Depth

In [10]:
binance.get_pair_depth(('BTC', 'USDT'))

10116.84    228062.714014
10116.85    225502.748820
10117.06    225490.608600
10117.17    225462.655163
10117.18    215345.485163
                ...
10177.14   -434317.900275
10177.65   -434419.676775
10177.98   -436035.095227
10178.00   -441453.862427
10178.26   -441507.155796
Length: 200, dtype: float64

In [226]:
binance.get_pair_depth(('USDT', 'BTC'))

USDT/BTC = 1 / (BTC/USDT)

0.997208    39.267768
0.997211    39.266691
0.997218    38.768086
0.997233    38.765822
0.997242    38.760601
              ...
1.002762   -28.272205
1.002792   -28.321359
1.002832   -28.622209
1.002844   -28.672276
1.002861   -28.973134
Length: 200, dtype: float64

In [223]:
binance.get_pair_depth(('GAS', 'USDT'))

GAS/USDT = (GAS/BTC) * (BTC/USDT)

0.010193     96345.797336
0.020387     96284.637536
0.030580     96162.297549
0.040773     96120.382903
0.050966     95998.063303
                ...
2.609485   -151066.738952
2.619678   -151098.148892
2.629871   -151138.885600
2.640065   -152519.797842
2.650258   -153366.422760
Length: 190, dtype: float64

In [224]:
binance.get_pair_depth(('GAS', 'LSK'))

GAS/LSK = (GAS/BTC) / (LSK/BTC)

0.008396     79583.378338
0.016793     79533.000504
0.025189     79432.228044
0.033585     79397.702603
0.041982     79296.946935
                ...
2.149454   -124439.989757
2.157851   -124465.862385
2.166247   -124499.417548
2.174643   -125636.886398
2.183039   -126334.258354
Length: 190, dtype: float64