In [126]:
from datetime import datetime
import pandas as pd
import numpy as np

import importlib
from cryptoz import utils
importlib.reload(utils)
from cryptoz import stats
importlib.reload(stats)

In [127]:
df = pd.DataFrame({'a': [0, 1, 2, 3, 4, 5], 'b': [5, 4, 3, 2, 1, 0], 'c': [0, 10, 100, 1000, 10000, 100000]}, index=[
    datetime(2018, 1, 1, 1, 1, 1),
    datetime(2018, 1, 1, 1, 1, 2),
    datetime(2018, 1, 1, 1, 1, 3),
    datetime(2018, 1, 1, 1, 2, 1),
    datetime(2018, 1, 1, 1, 2, 2),
    datetime(2018, 1, 1, 1, 2, 3)
])
df

                     a  b       c
2018-01-01 01:01:01  0  5       0
2018-01-01 01:01:02  1  4      10
2018-01-01 01:01:03  2  3     100
2018-01-01 01:02:01  3  2    1000
2018-01-01 01:02:02  4  1   10000
2018-01-01 01:02:03  5  0  100000

## Correlation

In [128]:
stats.rolling_corr(df, 'c', window=3)

                            a         b    c
2018-01-01 01:01:01       NaN       NaN  NaN
2018-01-01 01:01:02       NaN       NaN  NaN
2018-01-01 01:01:03  0.907841 -0.907841  1.0
2018-01-01 01:02:01  0.904194 -0.904194  1.0
2018-01-01 01:02:02  0.904194 -0.904194  1.0
2018-01-01 01:02:03  0.904194 -0.904194  1.0

In [129]:
stats.rolling_corr(df, 'c', backwards=True, window=3)

                            a         b    c
2018-01-01 01:01:01  0.907841 -0.907841  1.0
2018-01-01 01:01:02  0.904194 -0.904194  1.0
2018-01-01 01:01:03  0.904194 -0.904194  1.0
2018-01-01 01:02:01  0.904194 -0.904194  1.0
2018-01-01 01:02:02       NaN       NaN  NaN
2018-01-01 01:02:03       NaN       NaN  NaN

In [130]:
stats.expanding_corr(df, 'c')

                            a         b    c
2018-01-01 01:01:01       NaN       NaN  NaN
2018-01-01 01:01:02  1.000000 -1.000000  1.0
2018-01-01 01:01:03  0.907841 -0.907841  1.0
2018-01-01 01:02:01  0.824616 -0.824616  1.0
2018-01-01 01:02:02  0.759771 -0.759771  1.0
2018-01-01 01:02:03  0.707487 -0.707487  1.0

In [131]:
stats.expanding_corr(df, 'c', backwards=True)

                            a         b    c
2018-01-01 01:01:01  0.707487 -0.707487  1.0
2018-01-01 01:01:02  0.759721 -0.759721  1.0
2018-01-01 01:01:03  0.824141 -0.824141  1.0
2018-01-01 01:02:01  0.904194 -0.904194  1.0
2018-01-01 01:02:02  1.000000 -1.000000  1.0
2018-01-01 01:02:03       NaN       NaN  NaN

In [132]:
stats.resampling_corr(df, 'c', pd.Timedelta(minutes=1))

            a         b    c
1.0  0.907841 -0.907841  1.0
2.0  0.904194 -0.904194  1.0

## Drawdown